@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Fira Code", ui-monospace, SFMono-Regular, monospace;
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #050505;
  color: #00ff00;
  font-family: var(--font-mono);
}
